* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #073b4c;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
